footer {
    padding: 0.2em 0em;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #F9F8F9;

    @media screen and (max-width: 768px) {
        position: relative;
      }
}

#footer-socials {
    display: flex;
    flex-direction: row;
    column-gap: 0.8em;
    justify-content: center;
}

#footer-socials li {
    list-style: none;
}

#footer-socials li img {
    width: 1.3em !important;
    height: 1.3em !important;
}

#footer-copyright {
    font-size: 0.7em;
    margin: 0px;
    padding: 0.2em 0.5em;
    color: brown;
}