
#self-img-section img {
    width: 18rem;
    height: 16rem;    
}

#intro, #values {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}


#short-intro-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}

#key-skills {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: center;

    @media screen and (max-width: 768px) {
        margin-top: 1rem;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 0.5rem;
    }
}

#key-skills li {
    list-style: none;
    background-color: blanchedalmond;
    border: 1px solid blanchedalmond;
    border-radius: 8px;
    padding: 0.3rem;
    font-weight: medium;
}

#action-content {
    text-align: center;
    padding: 1rem 0rem;
}

#view-resume-btn {
    padding: 1rem 3rem;
    border: 1px solid lightslategray;
    border-radius: 8px;
    font-size: large;
    background-color:lightslategray;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.subheading {
    @media screen and (max-width: 768px) {
        text-decoration: underline;
    }
}

#greetings {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
}