* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

/* ### Header Styling ### */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F8F9;
    padding: 1em;
}

#user-name {
    text-decoration: none;
}

#user-name:link, #user-name:visited {
    color: cream;
}

nav ul {
    display: flex;
    column-gap: 1em;
}

nav ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: bolder;
}

.nav-link:link, .nav-link:visited {
    color: cream;
}

/* ### Main Content Styling ### */
body {
    background: #F9F8F9;
    color: black;
}

main {
    padding: 10px;
}

/* ### Footer Styling ### */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(203, 203, 203);
}

#footer-copyright {
    font-size: 1em;
    margin: 0px;
    padding: 0.2em 0.5em;
    color: brown;
}