* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    background: #F9F8F9;
    color: black;
    font-size: 1.2rem;
}

/* ### Header Styling ### */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F8F9;
    padding: 1.5em 2em;
}

#user-name {
    text-decoration: none;
}

#user-name:link, #user-name:visited {
    color: cream;
}

nav ul {
    display: flex;
    column-gap: 1em;
}

nav ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: bolder;
}

.nav-link:link, .nav-link:visited {
    color: cream;
}

main {
    padding: 1em 2em;
}

/* ### Footer Styling ### */
footer {
    padding: 0.2em 0em;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #F9F8F9;
}

#footer-socials {
    display: flex;
    flex-direction: row;
    column-gap: 0.8em;
    justify-content: center;
}

#footer-socials li {
    list-style: none;
}

#footer-socials li img {
    width: 1.3em !important;
    height: 1.3em !important;
}

#footer-copyright {
    font-size: 1em;
    margin: 0px;
    padding: 0.2em 0.5em;
    color: brown;
}